body, html, #root {
  height: 100%;
  margin:0%;
}

h2{
  margin-bottom: 20px;
}

p{
  font-size: 18px;
  color:#17c6b5;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}


/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
}

/* Sections */
.section {
  padding: 80px 20px;
  text-align: center;
}

.app-center{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0f172a;
  margin-top: 70px;
  color: white;
}
/* Footer */
.footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  color: white;
}